<!DOCTYPE html>
<html lang="en">
<head>
	<title>Game Voting</title>
	<link rel="stylesheet" type="text/css" href="common.css" />
	<meta name="viewport" content="width=device-width">
</head>
<body>
{{#if errorMsg}}
<p class="error-bar">{{errorMsg}}</p>
{{/if}}
<form method="post">
<fieldset class="admin-box">
	<legend>Login to Game Voting</legend>
  <div class="admin-row">
    <label for="username">Name:</label>
    <input type="text" name="username" id="username" autofocus>
  </div>
  <div class="admin-row">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  </div>
  <div class="center-block">
    <input type="submit" value="Login">
  </div>
</fieldset>
</body>
</html>
