<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vototron - Set Password</title>
	<link rel="stylesheet" type="text/css" href="common.css" />
</head>
<body>
<p class="error-bar">This is not HTTPS. There is no security. Do not use your good password.</p>
<form method="post">
<fieldset class="admin-box">
	<legend>Set Password for {{username}}</legend>
  <div class="admin-row">
    <label for="password">New password:</label>
    <input type="password" name="password" id="password" autofocus>
  </div>
  <div class="center-block">
    <input type="submit" value="Set Password">
  </div>
</fieldset>
</body>
</html>
